<h1>Edit Chirp</h1>

<%= form_with model: @chirp, local: true do |form| %>
  <% if @chirp.errors.any? %>
    <h2>
      <%= pluralize(@chirp.errors.count, "error") %> prohibited this chirp from being saved:
    </h2>
    <% @chirp.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
     <% end %>
  <% end %>
  <p>
    <%= form.label :text %><br>
    <%= form.text_field :text %>
  </p>
  <p><%= form.submit %></p>
  <p><%= link_to 'Back', chirps_path() %></p>
<% end %>